body {
    background-color: black;
    color:gray;

    header, main, nav, footer{
        text-align: center;
    }
}

nav a { /* links within "nav" container */
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none; /* removes underline*/
    color: aquamarine; /* by default, links are blue*/
}

nav a:hover { /* links within "nav" container */
    padding: 15px;
    padding-bottom: 4px;
    font-size: 2.0em;
    text-decoration: none; /* removes underline*/
    color: white; /* by default, links are blue*/
}

footer {
    font-size: 18px;
    color: aliceblue;
}

main {
    display:flex;
    justify-content: space-evenly;
}

table {
    margin: 0px auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color:orange;
}

#table-header {
    background-color:cadetblue;
}

.table-row {
    background-color:cornflowerblue;
}

ul {
    width:500px;
    margin: 0 auto;
    text-align: left;
}

.hobby {
    color:yellow;
}


body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}